.container {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.home,
.contact-us {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.home {
    opacity: 0;
    background-color: #000;
    color: #fff;
    scroll-snap-align: start;
}

.btn {
    opacity: 0;
    padding: 0.8rem 4rem;
    border-radius: 2rem;
    font-weight: 500;
    width: min(75%, 18rem);
}

.contact-us {
    background-color: #fff;
    color: #000;
    scroll-snap-align: start;
}
